@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style=" margin-top : 100px">
    <h1 class="display-4">Student Management System</h1>
    <h5>All Information About Courses , Teachers And Students</h5>
    <p>Only Admin Can Create , Add or Update </p>
</div>
